<fieldset>
		<legend>
			See the result here :
		</legend>
		<div class="pull-left">
			<form>
				<div class="control-group">
					<label for="title"> Title :</label>
					<div class="controls">
						<h3 name = "title" > </h3>
					</div>
				</div>
				<div class="control-group">
					<label for="year"> Year :</label>
					<div class="controls">
						<h3 name = "year" > </h3>
					</div>
				</div>
				<div class="control-group">
					<label for="rated"> Rated :</label>
					<div class="controls">
						<h3 name = "rated" > </h3>
					</div>
				</div>		
				<div class="control-group">
					<label for="rated"> Rating :</label>
					<div class="controls">
						<h3 name = "rating" > </h3>
					</div>
				</div>
			</form>
			</div>
			<div class="pull-left">
				 <img class="moviePoster" name="poster"  alt=""/>
			</div>


	</fieldset>
	